include README.*
include LICENSE
include CHANGES.*
recursive-include doc *.rst *.py Makefile
prune doc/_build

include *.txt
include *.rst
include setup.py
include pavement.py
include paver-minilib.zip


include .version
